* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.body{
    margin: 0;
    display: flex;
    justify-content: center;
}
/* login */

.index {
    background-color: #D6C6FB;
}

.main-index{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container .login {
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-bottom: 10%;
}

.container .login img {
    width: 200px;
    margin-bottom: 20px;
}

.container .login h1 {
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: #673781;
}

.formulario {
    width: 100%;
}

.formulario h3 {
    font-size: 25px;
    font-weight: 600;
    color: #000;
    margin-top: 8px;
    text-align: left;
}

.formulario input {
    width: 350px;
    height: 40px;
    margin-bottom: 15px;
    margin-top: -8px;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.botao-sair, .botao-entrar {
    width: 120px;
    height: 40px;
    font-size: 18px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botao-sair {
    background-color: #f2f2f2;
    color: #000;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-right: 75px;
}

.botao-entrar {
    background-color: #673781;
    color: #fff;
    border: 2px solid #5a317b;
    border-radius: 10px;
}

.botao-sair:hover {
    background-color: #e0e0e0;
}

.botao-entrar:hover {
    background-color: #5a317b;
}

@media (max-width: 1418px) {
    .container .login{
        margin-right: 500px;
    }
}
@media (max-width: 960px) {
  .container{
    flex-direction: column;
    margin: 0px 0;
  }
  .container .login{
    justify-content: center;
    margin-right: 130px;
  }
}
/* Fim login */
/*menu*/
.background{
    background-color: #EFEFEF;
}
.container-menu{
    display: flex;
    align-items: center;
    background-color: #D6C6FB;
}
.titulo{
    margin-left: 15px;
}
.titulo h1{
    font-size: 50px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #673781;

}
.container-menu-section{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.container-menu-section div{
    margin: 10px 20px;
    text-align: center;
    padding: 0px 0px;
    padding-top: 15px;
    padding-bottom: 0px;
    background-color: #5a317b;
    width: 250px;
    height: 200px;
}
.container-menu-section div h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    margin-bottom: 10px;
}
.container-menu-section #sair{
width: 50px;
height: 50px;
padding-top: 0px;
margin-right: 803px;
margin-bottom: 5px;
}
/*Fim menu*/
/*Produtos*/
.container-produtos {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
}

.formulario-produtos-dois {
    display: flex;
    flex-direction: column; 
}
.formulario-produtos-um{
    padding: 15px;
}
.formulario-produtos-um div{
    margin: 10px;
}
.formulario-produtos-um form label,
.formulario-produtos-um form input{
    margin: 10px;
}
.formulario-produtos-um form input{
    width: 200px;
}
#nome{
    width: 300px;
}
#valorCompra{
    width: 228px;
}
#valorVenda{
    width: 240px;
}
#modelo{
    width: 290px;
}
#fiscal{
    width: 191px;
}
#data{
    width: 220px;
}
#fabricante{
    width: 274px;
}
#descricao{
    height: 90px;
    width: 450px;
}
.botoes-formulario{
    display: flex;
    margin-right: 10px;
    
}
.botoes-formulario button{
    margin: 10px;
    width:130px;
    text-align: center; 
    background-color: #5a317b;
    color: white;

}
#voltar{
    color: #000;
    background-color: #D6C6FB;
}
.formulario-produtos-dois{
    padding: 15px;
}
.formulario-produtos-dois div{
    margin: 10px;
}
#prateleira{
    margin-left: 60px;
    border-radius: 15px; 
    text-align: center; 
}
#localPrateleira{
    border-radius: 15px; 
    text-align: center;  
}
#categoria{
    margin-left: 75px;
    border-radius: 15px; 
    text-align: center; 
}
#item-categoria{
    border-radius: 15px; 
    text-align: center;  
}
.formulario-produtos-dois .radio{
    margin: 5px 5px;
}
#radio3{
   margin-left: 73px; 
}
#radio2{
    margin-left: 25px;
}
#search-button{
    margin-top: 15px;
    width: 130px;
    background-color: #5a317b;
    color: white;
}
.container-tabela table th{
    font-size: 13px;
}
#texto-area{
    margin-bottom: 20px;
    margin-top: -8px;
}
/* Fim Produtos*/
/* Funcionário*/
.container-Funcionario{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.formulario-funcionario-dois{
    padding: 15px;
}
.formulario-funcionario-dois div{
    margin: 10px;
}
.formulario-funcionario-dois {
    display: flex;
    flex-direction: column;
}
.formulario-funcionario-um{
    padding: 15px;
}
.formulario-funcionario-um div{
    margin: 10px;
}
.formulario-funcionario-um form label,
.formulario-funcionario-um form input{
    margin: 10px;
}
.formulario-funcionario-um form input{
    width: 200px;
}
#senha{
    margin-top: 15px;
}
#nomeUsuario{
    margin-top: 10px;
}
#pesquisar{
    margin-top: 60px;
}
#botao-funcionario-buscar{
    margin-left: 83px;
}
#cargo{
    margin-left: 80px;
}
#senha{
    margin-left: 77px;
}
#nomeFuncionario{
    width: 222px;
}
#cpf{
    width: 240px;
}
#telefone{
    width: 210px;
}
#email{
    width: 230px;
}
/*Fim funcionários*/
/*clientes*/
.container-cliente{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.formulario-cliente,
.pesquisar-cliente{
    padding: 30px;
    padding-bottom: 30px;
}
.formulario-cliente form input,
.formulario-cliente form label{
margin: 10px;
}
.pesquisar-cliente div{
    margin-bottom: -50px;
}
#botao-pesquisar-cliente{
    margin-top: 65px;
}
#nomeCliente{
    width: 210px;
}
#cpfCliente{
    width: 225px;
}
#telefoneCliente{
    width: 193px;
}
#emailCliente{
    width: 215px;
}
.botoes-formulario{
    margin-top: 30px;
}
/*Fim clientes*/
/*Devolução ou troca*/
.container-devolucaoOuTroca{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 30px;
}
.formulario-devolucaoOuTroca,
.pesquisar-devolucaoOuTroca{
margin-top: 30px;
}
.radio-devolucaoOuTroca{
    margin-left: 140px;
}

 .radio-devolucaoOuTroca .radio2{
    margin-left: 42px;
 }
 .textoArea{
    display: flex;
    margin: 15px 50px;
    
 }
 #motivo-devolucaoOuTroca{
    width: 300px;
    height: 150px;
    margin-left: 4px;
   
 }
 .textoArea label{
    margin-left: 38px;
 }
 .data-devolucaoOuTroca{
    margin-left: 105px;
 }
/*Fim Devolução ou troca*/
/*Registro de venda*/
.container-registroVenda{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.formulario-registroVenda,
.tabela-itens-venda{
    margin-top: 30px; 
}

.formulario-registroVenda form{
    margin-bottom: 20px;
}
.formulario-registroVenda select{
    margin-bottom: 20px;
}
#cpf-label{
    margin-left: 35px;
}
#funcionario-venda{
    margin-left: 0px; 
}
#funcionario-label{
    margin-left: 80px;
}
#gerar-venda{
    margin-left: 200px;
    margin-bottom: 30px;
}
#quantidadeProduto-venda{
    margin-top: 30px;
}
#quantidade-label{
    margin-left: 53px;
}
#buscar-produto{
    width: 150px;
    margin-left: 180px;
    margin-bottom: 20px;
}
.botoes-formulario{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
#voltar-venda{
    margin-right: 58px;
    background-color: #D6C6FB;
    color: #000;
}
#h6{
    margin: -20px;
}
#venda-itens{
    display: flex;
    justify-content: space-between;
}
.tabela-itens-venda{
    width: 50%;
}
#tabela-registro{
height: 450px;
border: 2px solid black;
border-color: #000;
}
#itens-Registro{
    margin-right: 100px;
}
#cancelar-registrar{
    margin-top: 90px;
}
#cancelar-venda{
    margin-left: 330px;
    background-color: #D6C6FB;
    color: #000;
}
#cancelar-venda:disabled {
    background-color: #e9ecef;
    color: white; 
}
/*Fim Registro de venda*/
