/* Estilo da página registrar Venda */
.registrar-venda .interface-registroVenda {
    max-width: 1280px;
    margin: 0 auto;
}

.registrar-venda .interface-registroVenda .flex {
    justify-content: space-around;
    margin-top: 30px;
}

.registrar-venda .interface-registroVenda .flex .form-registroVenda input {
    margin-bottom: 20px;
    width: 300px;
    padding: 5px 0;
    border-radius: 8px;
}

.registrar-venda .interface-registroVenda .flex .form-registroVenda h3 {
    color: #683781;
    font-size: 18px;
}

.registrar-venda .interface-registroVenda .flex .form-registroVenda .btn-buscarProdutoVenda {
    display: flex;
    justify-content: end;
}

.registrar-venda .btn-adicionar {
    display: flex;
    justify-content: space-between;
}

.registrar-venda .interface-registroVenda .flex .form-registroVenda .resultado-busca {
    background-color: #fff;
    width: 300px;
    height: 70px;
    margin: 15px 0;
    border-radius: 8px;
}

.registrar-venda .Itens-selecionados {
    background-color: #fff;
    height: 100%;
    padding: 10px;
    border-radius: 8px;
}

.registrar-venda .Itens-selecionados h1 {
    font-size: 30px;
    color: #683781;
    border-radius: 8px;
    padding: 8px 8px;
}

.table-regitroVenda th,
.table-regitroVenda td {
    padding: 12px;
    text-align: center;
}

.table-regitroVenda td:last-child a i {
    color: #060606;
    margin-right: 14px;

}

.table-regitroVenda td button {
    background-color: white;
    border-radius: 10px;
    width: 17px;
    font-size: 15px;
    border: none;
    font-weight: 500;


}

.table-regitroVenda td button:active {
    color: #fff !important;
    background-color: #683781 !important;
}


.table-regitroVenda td:last-child a i:hover {
    color: red;
}

.box-itens {
    width: 100%;
    max-width: 800px;
    padding: 15px;
    overflow-x: auto;
}

.Itens-selecionados {
    text-align: center;
}

.box-itens .table-regitroVenda {
    width: 100%;
    border-collapse: collapse;
}

.box-itens table td {
    padding: 10px;
    border-top: 2px solid #060606;
    font-size: 16px;
    text-align: right;
    color: #333;
}

.table-regitroVenda td:nth-child(4) button {
    text-align: center;
    margin: 8px;
}

.box-itens thead th {
    color: #683781;
    padding: 8px 8px;
}

.table-regitroVenda tbody tr:hover {
    background: #D6C7FB;
}

.table-regitroVenda tbody tr:hover button {
    background: transparent;
    border: none;
    color: inherit;
    box-shadow: none;
}

.box-info {
    display: flex;
    flex-direction: column;
    align-items: end;
    border-top: 2px solid #060606;
    padding-top: 5px;
}

.box-info h5 {
    font-size: 15px;

}

.box-info h5 span {
    color: #683781;
}

.table-regitroVenda {
    margin-bottom: 80px;
}

.btn-finalizarVenda {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 18px;
}

.btn-finalizarVenda .btn-branco {
    border: 1px solid #683781;
}

.btn-finalizarVenda {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.Itens-selecionados {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

/* Estilo para telas menores que 882px */
@media screen and (max-width: 882px){
    /* Registro de venda */
    section.registrar-venda .flex {
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    section.registrar-venda .Itens-selecionados {
        width: 100%;
        margin: 0 8px;
    }

    .box-itens .table-regitroVenda thead tr th {
        font-size: 11px;
        padding-right: 5px;
    }

    .box-itens .table-regitroVenda tbody tr td {
        font-size: 11px;

    }

    .table-regitroVenda tbody .quant-venda,
    .nome-produto-venda,
    .preço-produto-venda,
    .subTotal-produto-venda {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box-itens btn-verde,
    .box-itens .btn-branco {
        font-size: 15px;
    }
}