<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="icon" href="./img/icon.png" type="png">
    <link rel="icon" th:href="@{/img/icon.png}" type="image/png">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body class="background">
    <!--header-->
    <header>
        <div class="container-menu">
            <div class="logo-topo">
                <img th:src="@{/img/LogoMarca.png}" alt="logo marca">
            </div>
            <div class="titulo">
                <h1>Clientes</h1>
            </div>
        </div>
    </header>
    <!--Fim header-->

    <!--main-->
    <!--section-->
    <section>
        <!--container-cliente-->
        <div class="container-cliente">
            <div class="formulario-cliente">
                <form id="formularioCliente">
                    <label>Nome:</label>
                    <input id="nomeCliente" type="text" th:field="${cliente.nome}"><br>
                    <label>Endereço:</label>
                    <input id="endereçoCliente" type="text" th:field="${cliente.endereco}"><br>
                    <label>CPF:</label>
                    <input id="cpfCliente" type="text" th:field="${cliente.cpf}"><br>
                    <label>Telefone:</label>
                    <input id="telefoneCliente" type="text" th:field="${cliente.telefone}"><br>
                    <label>Email:</label>
                    <input id="emailCliente" type="email" th:field="${cliente.email}"><br>
                    <input type="hidden" id="clienteId" name="id"
                            value="${cliente.id != null ? cliente.id : ''}" />
                </form>
                <div class="botoes-formulario">
                    <button type="button" class="form-control voltar" onclick="window.location.href = '/menu'" id="voltar" >Voltar</button>
                    <button type="button" class="form-control"  id="salvarCliente">Salvar</button>
                    <button type="submit" class="form-control" onclick="alterarCliente()" id="alterar">Alterar</button>
                    <button type="submit" class="form-control" onclick="limparCamposCliente()">Limpar</button>
                </div>

            </div>
            <div class="pesquisar-cliente">
                <div><label>Pesquisar:</label></div>
                <div><input id="pesquisar" type="text"></div>
                <div id="botao-pesquisar-cliente"><button id="search-button" class="form-control" onclick="buscarCliente()">Buscar</button></div>
            </div>
        </div>
        <!--Fim container-cliente -->
        <!--container-tabela-->
        <div class="container-tabela-Cliente">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Nome</th>
                        <th>Endereço</th>
                        <th>CPF</th>
                        <th>Telefone</th>
                        <th>E-mail</th>
                        <th>Total de compras</th>
                    </tr>
                </thead>
                <tbody id="tabela-cliente">
                </tbody>
            </table>
        </div>
        <!--Fim container-tabela-->
    </section>
    <!--Fim section-->

    <script>
       // window.onload = function () {
       //     atualizarTabelaClientes();
      //  };
    </script>
    <script th:src="@{/js/js.js}"></script>
</body>

</html>