<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devolução</title>
    <link rel="icon" href="./img/icon.png" type="png">
    <link rel="icon" th:href="@{/img/icon.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body class="background">
    <!--header-->
    <header>
        <div class="container-menu">
            <div class="logo-topo">
                <img th:src="@{/img/LogoMarca.png}" alt="logo marca">
            </div>
            <div class="titulo">
                <h1>Devolução</h1>
            </div>
        </div>
    </header>
    <!--Fim header-->
    <!--main-->
    <main>
        <!--section-->
        <section>
            <!--container-devolucaoOuTroca-->
            <div class="container-devolucaoOuTroca">
                <div class="formulario-devolucaoOuTroca">
                    <form class="formulario-devolucaoOuTroca" id="formulario-devolucao">
                        <label>Código do produto:</label>
                        <input type="number" id="codigo-devolucao" th:field="${devolucao.codigoProduto}"><br>
                        <div class="textoArea">
                            <label>Motivo:</label>
                            <textarea id="motivo-devolucao" class="form-control"
                                th:field="${devolucao.motivo}"></textarea><br>
                        </div>
                        <div class="data-devolucaoOuTroca">
                            <label>Data:</label>
                            <input type="date" id="data-devolucao" th:field="${devolucao.data}">
                        </div>
                        <input type="hidden" id="devolucaoId" name="id"
                            value="${devolucao.id != null ? devolucao.id : ''}" />
                    </form>

                    <div class="botoes-formulario">
                        <button type="button" class="form-control voltar" onclick="window.location.href = '/menu'"
                            id="voltar">Voltar</button>
                        <button type="button" class="form-control" id="salvarDevolucaoOuTroca">Salvar</button>
                        <button type="button" class="form-control" id="alterarDevolucao">Alterar</button>
                        <button type="button" class="form-control" id="excluirDevolucao">Excluir</button>
                        <button type="button" class="form-control" onclick="limparCamposDevolucao()">Limpar</button>
                    </div>
                </div>
                <div class="pesquisar-devolucaoOuTroca">
                    <div><label>Pesquisar:</label></div>
                    <div><input id="pesquisar-devolucaoOuTroca" type="text"></div>
                    <div id="botao-pesquisar-devolucaoOuTroca"><button id="search-button" class="form-control"
                            onclick="buscarDevolucao(event)">Buscar</button></div>
                </div>
            </div>
            <!--Fim container-devolucaoOuTroca-->
            <!--container-tabela-->
            <div class="container-tabela-devolucaoOuTroca">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Código do produto</th>
                            <th>motivo</th>
                            <th>tipo</th>
                            <th>data</th>
                        </tr>
                    </thead>
                    <tbody id="tabela-devolucaoOuTroca">
                    </tbody>
                </table>
            </div>
            <!--Fim container-tabela-->
        </section>
        <!--Fim section-->
        <script>
            $(document).ready(function () {
                // Função para listar devoluções
                function listarDevolucao() {
                    $.ajax({
                        type: "GET",
                        url: "/listar-devolucao",
                        dataType: "json",
                        success: function (devolucao) {

                            $("#tabela-devolucaoOuTroca").empty();

                            devolucao.forEach(function (item) {
                                var dataFormatada = "";

                                if (item.data) {
                                    var data = new Date(item.data);
                                    dataFormatada = data.toLocaleDateString('pt-BR', {
                                        day: '2-digit',
                                        month: '2-digit',
                                        year: 'numeric'
                                    });
                                }

                                var linha = `
                                    <tr class='linha-devolucao' data-id='${item.id}'>
                                        <td>${item.id}</td>
                                        <td>${item.codigoProduto}</td>
                                        <td>${item.motivo}</td>
                                        <td>${item.tipo}</td>
                                        <td>${dataFormatada}</td> <!-- Usando dataFormatada aqui -->
                                    </tr>
                                `;
                                $("#tabela-devolucaoOuTroca").append(linha);
                            });
                        },
                        error: function (xhr, status, error) {
                            alert("Erro ao carregar dados das devoluções: " + error);
                        }
                    });
                }

                listarDevolucao();

                $("#tabela-devolucaoOuTroca").on("click", "tr.linha-devolucao", function () {
                    var id = $(this).find("td").eq(0).text();
                    var codigoProduto = $(this).find("td").eq(1).text();
                    var motivo = $(this).find("td").eq(2).text();
                    var tipo = $(this).find("td").eq(3).text();
                    var data = $(this).find("td").eq(4).text();

                    var dataConvertida = data.split('/').reverse().join('-');

                    $("#devolucaoId").val(id);
                    $("#codigo-devolucao").val(codigoProduto);
                    $("#motivo-devolucao").val(motivo);
                    $("#data-devolucao").val(dataConvertida);

                    $("#alterarDevolucao").prop("disabled", false);
                    $("#excluirDevolucao").prop("disabled", false);
                    $("#salvarDevolucaoOuTroca").prop("disabled", true);
                });

            });
        </script>

        <script th:src="@{/js/js.js}"></script>
    </main>
    <!--Fim main-->
</body>

</html>