<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devolução ou troca</title>
    <link rel="icon" href="./img/icon.png" type="png">
    <link rel="icon" th:href="@{/img/icon.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body class="background">
    <!--header-->
    <header>
        <div class="container-menu">
            <div class="logo-topo">
                <img th:src="@{/img/LogoMarca.png}" alt="logo marca">
            </div>
            <div class="titulo">
                <h1>Devolução ou Troca</h1>
            </div>
        </div>
    </header>
    <!--Fim header-->
    <!--main-->
    <main>
        <!--section-->
        <section>
            <!--container-devolucaoOuTroca-->
            <div class="container-devolucaoOuTroca">
                <div class="formulario-devolucaoOuTroca">
                    <div class="radio-devolucaoOuTroca">
                        <label><input id="radioDevolucao" class="radio1" type="radio" name="Devolução"
                                value="Devolução"> Devolução</label>
                        <label><input id="radioTroca" class="radio2" type="radio" name="troca" value="troca">
                            Troca</label><br>
                    </div>

                    <form class="formulario-devolucaoOuTroca">
                        <label>Código do produto:</label>
                        <input type="text" id="codigo-devolucaoOuTroca"><br>
                        <div class="textoArea">
                            <label>Motivo:</label>
                            <textarea id="motivo-devolucaoOuTroca" class="form-control"></textarea><br>
                        </div>
                        <div class="data-devolucaoOuTroca">
                            <label>Data:</label>
                            <input type="date" id="data-devolucaoOuTroca">
                        </div>
                        
                    </form>
                    <div class="botoes-formulario">
                        <button type="button" class="form-control voltar" onclick="window.location.href = '/menu'"
                            id="voltar">Voltar</button>
                        <button type="button" class="form-control" onclick="salvarDevolvido()"
                            id="salvar">Salvar</button>
                        <button type="submit" class="form-control" onclick="alterarDevolvido()"
                            id="alterar">Alterar</button>
                        <button type="submit" class="form-control" onclick="excluirDevolvido()">Excluir</button>
                        <button type="submit" class="form-control" onclick="limparCamposDevolvido()">Limpar</button>
                    </div>
                </div>
                <div class="pesquisar-devolucaoOuTroca">
                    <div><label>Pesquisar:</label></div>
                    <div><input id="pesquisar-devolucaoOuTroca" type="text"></div>
                    <div id="botao-pesquisar-devolucaoOuTroca"><button id="search-button" class="form-control"
                            onclick="buscarDevolvido()">Buscar</button></div>
                </div>
            </div>
            <!--Fim container-devolucaoOuTroca-->
            <!--container-tabela-->
            <div class="container-tabela-devolucaoOuTroca">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Código do produto</th>
                            <th>motivo</th>
                            <th>tipo</th>
                            <th>data</th>
                        </tr>
                    </thead>
                    <tbody id="tabela-devolucaoOuTroca">
                    </tbody>
                </table>
            </div>
            <!--Fim container-tabela-->
        </section>
        <!--Fim section-->
        <script>
            window.onload = function () {
                atualizarTabelaDevolucaoOuTroca();
            };
        </script>
        <script type="text/javascript" src="./js/js.js"></script>
    </main>
    <!--Fim main-->
</body>

</html>