<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funcionários</title>
    <link rel="icon" href="./img/icon.png" type="png">
    <link rel="icon" th:href="@{/img/icon.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body class="background">
    <!--header-->
    <header>
        <div class="container-menu">
            <div class="logo-topo">
                <img th:src="@{/img/LogoMarca.png}" alt="logo marca">
            </div>
            <div class="titulo">
                <h1>Funcionários</h1>
            </div>
        </div>
    </header>
    <!--Fim header-->

    <!--main-->
    <main>
        <!--section-->
        <section>
            <!--container-funcionarios-->
            <div class="container-Funcionario">
                <div class="formulario-funcionario-um">
                    <form id="formularioFuncionario">
                        <label>Nome:</label>
                        <input id="nomeFuncionario" type="text" th:field="${funcionario.nome}" required><br>
                        <label>Endereço:</label>
                        <input id="endereço" type="text" th:field="${funcionario.endereco}" required><br>
                        <label>CPF:</label>
                        <input id="cpf" type="text" th:field="${funcionario.cpf}" required
                            placeholder="xxx.xxx.xxx-xx"><br>
                        <label>Telefone:</label>
                        <input id="telefone" type="text" th:field="${funcionario.telefone}" required
                            placeholder="(xx) xxxx-xxxx"><br>
                        <label>Email:</label>
                        <input id="email" type="email" th:field="${funcionario.email}" required
                            placeholder="exemplo@dominio.com"><br>
                        <input type="hidden" id="funcionarioId" name="id"
                            value="${funcionario.id != null ? funcionario.id : ''}" />


                    </form>

                    <div class="botoes-formulario">
                        <button type="button" class="form-control voltar" onclick="window.location.href = '/menu'"
                            id="voltar">Voltar</button>
                        <button type="button" class="form-control" id="salvarFuncionario">Salvar</button>
                        <button type="button" class="form-control" id="alterarFuncionario">Alterar</button>
                        <button type="button" class="form-control" id="limpar">Limpar</button>
                    </div>
                </div>

                <div class="formulario-funcionario-dois">
                    <form>
                        <div>
                            <label for="Cargo" required>Cargo:</label>
                            <select id="cargoFuncionario" required>
                                <option>Selecione um item</option>
                                <option value="Gerente" th:field="${funcionario.cargo.nome}">Gerente</option>
                                <option value="Vendedor" th:field="${funcionario.cargo.nome}">Vendedor</option>
                            </select><br>
                        </div>
                        <div id="usuarioDiv">
                            <label>Nome de usuário:</label>
                            <input id="nomeUsuario" type="text" th:field="${funcionario.usuario.login}" required><br>
                            <label>Senha:</label>
                            <input id="senha-funcionario" type="text" th:field="${funcionario.usuario.senha}"
                                required><br>
                        </div>
                        <div>
                            <label>Pesquisar:</label>
                            <input id="pesquisar" type="text"><br>
                        </div>
                        <div id="botao-funcionario-buscar">
                            <button id="search-button" class="form-control"
                                onclick="buscarFuncionario(event)">Buscar</button>

                        </div>

                    </form>
                </div>
            </div>
            <!--Fim container-funcionarios-->

            <!--container-tabela-->
            <div class="container-tabela">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Nome</th>
                            <th>Endereço</th>
                            <th>E-mail</th>
                            <th>Cargo</th>
                            <th>Telefone</th>
                            <th>CPF</th>
                            <th>Tipo de usuário</th>
                            <th>Data último login</th>
                        </tr>
                    </thead>
                    <tbody id="tabela-funcionario">
                        <!-- Os dados serão inseridos aqui com AJAX -->
                    </tbody>
                </table>
            </div>
            <!--Fim container-tabela-->

        </section>
        <!--Fim section-->
    </main>
    <!--Fim main-->
    <script>
        $(document).ready(function () {
            // Função para listar os funcionários
            function listarFuncionarios() {

                $.ajax({
                    type: "GET",
                    url: "/listar-funcionarios",  
                    dataType: "json",  
                    success: function (funcionarios) {

                        $("#tabela-funcionario").empty();

                        funcionarios.forEach(function (funcionario) {

                            var ultimoLoginFormatado = "";

                            if (funcionario.usuario.ultimo_login) {

                                var data = new Date(funcionario.usuario.ultimo_login + "T00:00:00");
                                ultimoLoginFormatado = data.toLocaleDateString('pt-BR', {
                                    day: '2-digit',
                                    month: '2-digit',
                                    year: 'numeric'
                                });
                            }
                            var linha = "<tr class='linha-funcionario' data-id='" + funcionario.id + "'>" +
                                "<td>" + funcionario.id + "</td>" +
                                "<td>" + funcionario.nome + "</td>" +
                                "<td>" + funcionario.endereco + "</td>" +
                                "<td>" + funcionario.email + "</td>" +
                                "<td>" + funcionario.cargo.nome + "</td>" +
                                "<td>" + funcionario.telefone + "</td>" +
                                "<td>" + funcionario.cpf + "</td>" +
                                "<td>" + funcionario.usuario.tipoUsuario + "</td>" +  
                                "<td>" + ultimoLoginFormatado + "</td>" + 
                                "</tr>";

                            $("#tabela-funcionario").append(linha);
                        });
                    },
                    error: function (xhr, status, error) {
                        alert("Erro ao carregar dados dos funcionários: " + error);
                    }
                });
            }

           
            listarFuncionarios();

            $("#tabela-funcionario").on("click", "tr.linha-funcionario", function () {
                var id = $(this).find("td").eq(0).text();
                var nome = $(this).find("td").eq(1).text();
                var endereco = $(this).find("td").eq(2).text();
                var email = $(this).find("td").eq(3).text();
                var cargo = $(this).find("td").eq(4).text();
                var telefone = $(this).find("td").eq(5).text();
                var cpf = $(this).find("td").eq(6).text();

                $("#funcionarioId").val(id);
                $("#nomeFuncionario").val(nome);
                $("#endereço").val(endereco);
                $("#email").val(email);
                $("#telefone").val(telefone);
                $("#cpf").val(cpf);


                $("#cargoFuncionario").val(cargo);
                $("#salvarFuncionario").prop("disabled", true);
                $("#alterarFuncionario").prop("disabled", false);
            });
        });
    </script>

    <script th:src="@{/js/js.js}"></script>
</body>

</html>