<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lojaInfo</title>
    <link rel="icon" th:href="@{/img/icon.png}" type="image/png">
    <!-- icon -->
    <link rel="icon" href="./img/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!--Fim google font-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!--end icons bootstrap-->

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- style -->
    <script ></script>
</head>

<body>
    <input type="hidden" id="boasVindasNome" th:value="${usuarioNome}">
    <input type="hidden" id="boasVindasTipo" th:value="${tipoUsuario}">
    <header>
        <section class="top-header">
            <div class="interface-header">
                <div class="logo">
                    <a href="#"><img src="./img/LogoMarca.png"></a>
                    <div class="top-titulo">
                        <h1>Início</h1>
                    </div>
                    <!-- top-titulo -->
                </div>
                <!-- logo -->
                <div class="btn-registro-venda">
                    <a href="#"><button class="btn-verde">REGISTRAR VENDA</button></a>
                </div>
                <!-- btn-registro-venda -->
                <div class="btn-abrir-menu" id="btn-menu">
                    <i class="bi bi-list"></i>
                </div>
                <!-- btn-abrir-menu -->
                <div class="menu-mobile" id="menu-mobile">
                    <div class="btn-fechar">
                        <i class="bi bi-x-lg"></i>
                    </div>
                    <!-- btn-fechar -->
                     <nav>
                        <ul>
                            <li><a href="#">Início</a></li>
                            <li><a href="#">Registrar venda</a></li>
                            <li class="adm"><a href="#">Relatório de vendas</a></li>
                            <li><a href="#">Cadastrar produto</a></li>
                            <li><a href="#">PesquisarProduto</a></li>
                            <li><a href="#">Cadastrar cliente</a></li>
                            <li><a href="#">Pesquisar cliente</a></li>
                            <li><a href="#">Cadastrar devolução</a></li>
                            <li><a href="#">Pesquisar devolução</a></li>
                            <li><a href="#">Cadastrar troca</a></li>
                            <li><a href="#">Pesquisar troca</a></li>
                            <li class="adm"><a href="#">Cadastrar funcionário</a></li>
                            <li class="adm"><a href="#">Pesquisar funcionário</a></li>
                             <li><a href="/logoff">Sair</a></li>

                        </ul>
                     </nav>
                </div>
                <!-- menu-mobile -->
                 <div class="overlay-menu" id="overlay-menu"></div>
                 <!-- overlay-menu -->
            </div>
            <!-- interface-header -->
        </section>
        <!-- top-header -->
        <section class="botton-header">
            <div class="inteface-header">
                <nav class="txt-menu">
                    <ul>
                        <li><a href="#">INÍCIO</a></li>
                        <li class="drop-hover"><a href="#">CADASTRAR <i class="bi bi-caret-down-fill"></i></a>
                            <div class="drop">
                                <a href="#">PRODUTOS</a>
                                <a href="#">DEVOLUÇÕES</a>
                                <a href="#">TROCAS</a>
                                <a href="#">VENDAS</a>
                                <a href="#">CLIENTES</a>
                                <a href="#" class="adm">FUNCIONÁRIOS</a>
                            </div>
                        </li>
                        <li class="drop-hover"><a href="#">PESQUISAR <i class="bi bi-caret-down-fill"></i></a>
                            <div class="drop">
                                <a href="#">PRODUTOS</a>
                                <a href="#">DEVOLUÇÕES</a>
                                <a href="#">TROCAS</a>
                                <a href="#" class="adm">VENDAS</a>
                                <a href="#">CLIENTES</a>
                                <a href="#"class="adm"v>FUNCIONÁRIOS</a>
                            </div>
                        </li>
                        <li class="drop-hover"><a href="#" class="adm">RELATÓRIO DE VENDAS</a></li>
                        <li><a href="/logoff">SAIR</a></li>
                    </ul>
                </nav>
                <!-- nav -->
            </div>
            <!-- inteface-header -->
        </section>
        <!-- botton-header -->
    </header>
    <!-- cabeçalho -->
    <section class="img-inicio">
        <img src="./img/inicio.png">
    </section>
    <!-- img-inicio -->
<script>
    window.history.pushState({}, '', '/inicio');
</script>
<script th:src="@{/js/js.js}" ></script>
<!-- javascript -->
</body>

</html>