<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Troca</title>
    <link rel="icon" href="./img/icon.png" type="png">
    <link rel="icon" th:href="@{/img/icon.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body class="background">
    <!--header-->
    <header>
        <div class="container-menu">
            <div class="logo-topo">
                <img th:src="@{/img/LogoMarca.png}" alt="logo marca">
            </div>
            <div class="titulo">
                <h1>Troca</h1>
            </div>
        </div>
    </header>
    <!--Fim header-->
    <!--main-->
    <main>
        <!--section-->
        <section>
            <!--container-devolucaoOuTroca-->
            <div class="container-devolucaoOuTroca">
                <div class="formulario-devolucaoOuTroca">
                    <form class="formulario-devolucaoOuTroca" id="formulario-devolucao">
                        <label>Código do produto:</label>
                        <input type="number" id="codigo-troca" th:field="${troca.codigoProduto}"><br>
                        <div class="textoArea">
                            <label>Motivo:</label>
                            <textarea id="motivo-troca" class="form-control" th:field="${troca.motivo}"></textarea><br>
                        </div>
                        <div class="data-devolucaoOuTroca">
                            <label>Data:</label>
                            <input type="date" id="data-troca" th:field="${troca.data}">
                        </div>
                        <input type="hidden" id="trocaId" name="id" value="${troca.id != null ? troca.id : ''}" />
                    </form>
                    
                    <div class="botoes-formulario">
                        <button type="button" class="form-control voltar" onclick="window.location.href = '/menu'"
                            id="voltar">Voltar</button>
                        <button type="button" class="form-control" id="salvarTroca">Salvar</button>
                        <button type="submit" class="form-control" id="alterarTroca">Alterar</button>
                        <button type="submit" class="form-control" id="excluirTroca">Excluir</button>
                        <button type="submit" class="form-control" >Limpar</button>
                    </div>
                </div>
                <div class="pesquisar-devolucaoOuTroca">
                    <div><label>Pesquisar:</label></div>
                    <div><input id="pesquisar-devolucaoOuTroca" type="text"></div>
                    <div id="botao-pesquisar-devolucaoOuTroca"><button id="search-button" class="form-control"
                            onclick="buscarDevolvido()">Buscar</button></div>
                </div>
            </div>
            <!--Fim container-devolucaoOuTroca-->
            <!--container-tabela-->
            <div class="container-tabela-devolucaoOuTroca">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Código do produto</th>
                            <th>motivo</th>
                            <th>tipo</th>
                            <th>data</th>
                        </tr>
                    </thead>
                    <tbody id="tabela-devolucaoOuTroca">
                    </tbody>
                </table>
            </div>
            <!--Fim container-tabela-->
        </section>
        <!--Fim section-->

      <script th:src="@{/js/trocaScript.js}"></script>
    </main>
    <!--Fim main-->
</body>

</html>