<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendas</title>
    <link rel="icon" th:href="@{/img/icon.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body class="background">
    <!--header-->
    <header>
        <div class="container-menu">
            <div class="logo-topo">
                <img th:src="@{/img/LogoMarca.png}" alt="logo marca">
            </div>
            <div class="titulo">
                <h1>Vendas</h1>
            </div>
        </div>
    </header>
    <!--Fim header-->
    <!--main-->
    <main>
        <!--section-->
        <section>
            <!--container-vendas-->
            <div class="container-vendas" id="vontainerUm">
               <div class="resultado-pesquisa" id="resultado-pesquisa-codigo">
                <h5>id:</h5>
                <h5>Status:</h5>
                <h5>Data e hora:</h5>
                <h5>Método de pagamento:</h5>
                <h5>Vendedor:</h5>
                <h5>Nome do cliente:</h5>
                <h5>CPF do cliente:</h5>
               </div>
               
                <div id="itens-tabelaVenda">
                    
                </div>
                
                
               </div>
                
            </div>
            
            <!--Fim container-vendas-->
        </section>
        <!--Fim section-->
        <!--section-->
        <section>
        <!--container-relatório-->
        <div class="container-relatorio">
            <div class="relatorio">
                <h4>Relatório</h4>
                <form>
                    <div class="inicio">
                        <label>Data inicial:</label>
                        <input type="date" id="dataInicio" min="1950-01-01" max="2100-12-31">
                    </div>
                    <div class="final">
                        <label>Data final:</label>
                        <input type="date" id="dataFinal" min="1950-01-01" max="2100-12-31">
                    </div>
                    <div class="botoes-formulario" id="botao-relatorio">
                        <button type="button" class="form-control" id="botao-relatorio">Gerar</button>
                    </div>
                </form>
                <div class="resultado-pesquisa" id="relatorio">
                    <h5 id="lucro-total">Lucro total:</h5>
                    <h5 id="media">Média de lucro:</h5>
                    <h5 id="metodo">Método de pagamento mais usado:</h5>
                    <h5 id="produto">Produto mais vendido:</h5>
                    <h5 id="devol">Total de produtos devolvidos:</h5>
                    <h5 id="cliente">Cliente mais frequente:</h5>
                    <h5 id="fatura">Faturamento total:</h5>
                    <h5 id="vendas">Total de vendas:</h5>
                   </div>
            </div>
            <div class="pesquisar-vendas">
                <label>Pesquisar:</label>
                <select class="criterio" id="criterio-selecionar">
                    <option value="id">id</option>
                </select>
                <form>
                    <input type="text" id="criterio-pesquisa">
                </form>
                <div id="buscar" class="botoes-formulario">
                    <button type="button" class="form-control" id="buscar-venda" >Buscar</button>
                </div>
             
            <div id="Voltar-limpar" class="botoes-formulario">
                <button type="button" class="form-control" id="voltar-venda" onclick="window.location.href = '/menu'">voltar</button>
                <button type="button" class="form-control" id="limpar-venda" >limpar</button>
            </div>  
            </div>
        </div>
        <!--Fim container-relatório-->
        </section>
        <section>
            <!--container-tabela-->
            <div class="container-tabela table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Status</th>
                            <th>Data e hora</th>
                            <th>Método de pagamento</th>
                            <th>Vendedor</th>
                            <th>CPF do cliente</th>
                        </tr>
                    </thead>
                    <tbody id="tabela-reservas">
                    </tbody>
                </table>

            </div>
            <!--Fim container-tabela-->
        </section>
        <!--Fim section-->
    </main>
    <!--Fim main-->
   
    <script th:src="@{/js/vendaScript.js}"></script>
</body>

</html>