<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LojaiInfo</title>
    <link rel="icon" href="./img/icon.png" type="png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body class="index">
    <!--main login-->
    <main class="main-index">
        <div class="container">
            <div class="imagem">
                <img src="./img/mac.jpg" alt="note book" width="850" height="">
            </div>
            <div class="login">
                <img src="./img/LogoMarca.png" alt="" width="320px" height="">
                <h1>LojaInfo</h1>
                <div class="formulario">
                    <form>
                        <label>
                            <h3>Usuário</h3>
                        </label><br>
                        <input class="formulario-usuario"  type="text" id="usuario" required><br>
                        <label>
                            <h3>Senha</h3>
                        </label><br>
                        <input class="formulario-senha" type="password" id="senha" required><br>
                    </form>
                    <button class="botao-sair" type="submit" onclick="sair()">Sair</button>
                    <button class="botao-entrar" type="button" onclick="validarUsuario()">Entrar</button>
                    <script type="text/javascript" src="./js/js.js"></script>
                </div>
            </div>
        </div>
    </main>
    <!--Fim main-->
</body>

</html>