<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LojaiInfo</title>
    <link rel="icon" href="./img/icon.png" type="png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body class="background">
    <!--header-->
    <header>
        <div class="container-menu">
            <div class="logo-topo">
                <img src="./img/LogoMarca.png" alt="">
            </div>
            <div class="titulo">
                <h1>Início</h1>
            </div>
        </div>
    </header>
    <!--Fim header-->
    <!--main-->
    <main>
        <!--section-->
        <section>
            <!--container-menu-section-->
            <div class="container-menu-section">
                <!--registro-venda-menu-->
                <div>
                    <a href="./registroVenda.html">
                        <h1>Registro de venda</h1>
                        <img src="./img/registro-venda.png" alt="registro de venda" width="250" height="200">
                    </a>
                </div>
                <!--Fim registro-venda-menu-->
                <!--Produtos-menu-->
                <div>

                    <a href="./produtos.html">
                        <h1>Produtos</h1>
                        <img src="./img/produtos.png" alt="produtos" width="250" height="200">
                    </a>
                </div>
                <!--Fim produtos-menu-->
                <!--clientes-menu-->
                <div>
                    <a href="./clientes.html">
                        <h1>Clientes</h1>
                        <img src="./img/clientes.png" alt="clientes" width="250" height="200">
                    </a>
                </div>
                <!--Fim clientes-menu-->
            </div>
            <!--Fim container-menu-section-->


            </div>
        </section>
        <!--Fim section-->
        <!--section-->
        <section>
            <!--container-menu-section-->
            <div class="container-menu-section">
                <!--devolucao-troca-->
                <div>
                    <a href="./devolucaoOuTroca.html">
                        <h1>Devolução ou troca</h1>
                        <img src="./img/devolucao-troca.png" alt="devolução ou troca" width="250" height="200">
                    </a>
                </div>
                <!--Fim devolucao-troca-->
                <!--vendas-->
                <div>

                    <a href="./vendas.html">
                        <h1>Vendas</h1>
                        <img src="./img/venda.png" alt="vendas" width="250" height="200">
                    </a>
                </div>
                <!--Fim vendas-->
                <!--funcionários-->
                <div>
                    <a href="./funcionarios.html">
                        <h1>Funcionários</h1>
                        <img src="./img/funcionarios.png" alt="funcionários" width="250" height="200">
                    </a>
                </div>
                <!--Fim Funcionário-->
            </div>
            <!--Fim container-menu-section-->
            <!--container-menu-section-->
            <div class="container-menu-section">
                <!--sair-->
                <div id="sair">
                    <a href="./index.html">
                        <img src="./img/sair.png" alt="sair" width="100" height="80">
                    </a>
                </div>
                <!--Fim sair-->
                <!--vendas-->

            </div>
            <!--Fim container-menu-section-->


            </div>
        </section>
        <!--Fim section-->
    </main>
    <!--Fim main-->

</body>

</html>