<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="icon" href="./img/icon.png" type="png">
    <link rel="stylesheet" href="./css/style.css">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="background">
    <!--header-->
    <header>
        <div class="container-menu">
            <div class="logo-topo">
                <img src="./img/LogoMarca.png" alt="">
            </div>
            <div class="titulo">
                <h1>Produtos</h1>
            </div>
        </div>
    </header>
    <!--Fim header-->
    <!--main-->
    <main>
        <!--section-->
        <section>
            <!--container-produtos-->
            <div class="container-produtos">
                <div class="formulario-produtos-um">
                    <div id="quantidade">Quantidade do produto:</div>
                    <form>
                        <input id="codigo" type="text"><br>
                        <label>Nome:</label>
                        <input id="nome" type="text" required><br>
                        <label >Valor de compra:</label>
                        <input id="valorCompra" type="text" required oninput="validarNumero(this)"><br>
                        <label >Valor de venda:</label>
                        <input id="valorVenda" type="text" required oninput="validarNumero(this)"><br>
                        <label>Modelo:</label>
                        <input id="modelo" type="text" required><br>
                        <label>número da nota fiscal:</label>
                        <input id="fiscal" type="text" required><br>
                        <label>Data de aquisição:</label>
                        <input id="data" type="date" required min="1900-01-01" max="2100-12-31"><br>
                        <label>Fabricante:</label>
                        <input id="fabricante" type="text" required><br>
                        <div id="status">Status:</div>
                        <br>
                    </form>
                    <div id="texto-area"><label>Descrição técnica:</label>
                        <textarea id="descricao" class="form-control" required></textarea>
                    </div>
                        <div class="botoes-formulario">
                    
                            <button type="button" class="form-control voltar" id="voltar" onclick="voltarPagina()">Voltar</button>
                            <button type="button" class="form-control" onclick="salvarProduto()" id="salvar">Salvar</button>
                        <button type="submit" class="form-control" onclick="alterarProduto()" id="alterar" >Alterar</button>
                        <button type="submit" class="form-control" onclick="limparCamposProduto()">Limpar</button>
                    </div>

                </div>
                <div class="formulario-produtos-dois">
                    <div id="prateleiraDiv"><label id="label-prateleira" for="prateleira" required>Número da prateleira:</label>
                        <select id="prateleira" required>
                            <option>Selecione um item</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select><br>
                    </div>
    
                    <div id="LocalPrateleiraDiv"><label for="localPrateleira" required>Número do local da prateleira:</label>
                        <select id="localPrateleira" required>
                            <option>Selecione um item</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select><br>
                    </div>
    
    
                    <div id="categoriaDiv"><label for="categoria">Categoria:</label>
                        <select id="categoria" required>
                            <option>Selecione um item</option>
                            <option value="Componentes de hardware">Componentes de hardware</option>
                            <option value="Conectividade e redes">Conectividade e redes</option>
                            <option value="Dispositivos computacionais">Dispositivos computacionais</option>
                            <option value="periferico">Periférico</option>
                            <option value="Suprimento de impressora">Suprimentos de impressora</option>
                        </select><br>
                    </div>
    
                    <div><label>Pesquisar:</label>
                        <div class="radio-group">
                            <label><input id="radio1" class="radio" type="radio" name="pesquisar" value="codigo" onclick="digitarCodigo()"> Código</label>
                            <label><input id="radio2" class="radio" type="radio" name="pesquisar" value="nome" onclick="digitarNome()"> Nome</label>
                            <label><input id="radio3" class="radio" type="radio" name="pesquisar" value="modelo" onclick="digitarModelo()"> Modelo</label><br>
                            <label><input id="radio4" class="radio"type="radio" name="pesquisar" value="fabricante" onclick="digitarFabricante()"> Fabricante</label>
                            <label><input id="radio5" class="radio" type="radio" name="pesquisar" value="disponibilidade"> Disponibilidade</label>
                            <label><input id="radio6" class="radio" type="radio" name="pesquisar" value="devolvido"> Devolvido</label><br>
                            <label><input id="radio7" class="radio" type="radio" name="pesquisar" value="categoria" onclick="selecioneCategoria()"> Categoria</label><br>
                        </div>
                    </div>
    
                    <div> <select id="item-categoria">
                            <option>Selecione uma categoria</option>
                            <option value="Componentes de hardware">Componentes de hardware</option>
                            <option value="Conectividade e redes">Conectividade e redes</option>
                            <option value="Dispositivos computacionais">Dispositivos computacionais</option>
                            <option value="periferico">Periférico</option>
                            <option value="Suprimento de impressora">Suprimentos de impressora</option>
                        </select><br></div>
                    <div><input type="text" placeholder="Digite aqui..." id="campo"><br>
    
                        <button id="search-button" class="form-control" onclick="buscarProduto()">Buscar</button>
                    </div>
                </div>
            </div>
            </div>
            <!--Fim container-produtos-->
            <!--container-tabela-->
            <div class="container-tabela table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Código do Produto</th>
                            <th>Nome</th>
                            <th>Valor de Compra</th>
                            <th>Valor de Venda</th>
                            <th>Quantidade</th>
                            <th>Modelo</th>
                            <th>Nota Fiscal</th>
                            <th>Data de Aquisição</th>
                            <th>Fabricante</th>
                            <th>Descrição Técnica</th>
                            <th>Categoria</th>
                            <th>Prateleira</th>
                            <th>Local de Armazenamento</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="tabela-reservas">
                    </tbody>
                </table>

            </div>
            <!--Fim container-tabela-->
        </section>
        <!--Fim section-->
    </main>
    <!--Fim main-->
    <script>
        window.onload = function () {
    atualizarTabela();
};
document.getElementById("codigo").hidden =true;

    </script>
    <script type="text/javascript" src="./js/js.js"></script>

</body>

</html>
