* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.body{
    margin: 0;
    display: flex;
    justify-content: center;
}
/* login */

.index {
    background-color: #D6C6FB;
}

.main-index{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container .login {
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-bottom: 10%;
}

.container .login img {
    width: 200px;
    margin-bottom: 20px;
}

.container .login h1 {
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: #673781;
}

.formulario {
    width: 100%;
}

.formulario h3 {
    font-size: 25px;
    font-weight: 600;
    color: #000;
    margin-top: 8px;
    text-align: left;
}

.formulario input {
    width: 350px;
    height: 40px;
    margin-bottom: 15px;
    margin-top: -8px;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.botao-sair, .botao-entrar {
    width: 120px;
    height: 40px;
    font-size: 18px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botao-sair {
    background-color: #f2f2f2;
    color: #000;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-right: 75px;
}

.botao-entrar {
    background-color: #673781;
    color: #fff;
    border: 2px solid #5a317b;
    border-radius: 10px;
}

.botao-sair:hover {
    background-color: #e0e0e0;
}

.botao-entrar:hover {
    background-color: #5a317b;
}

@media (max-width: 1418px) {
    .container .login{
        margin-right: 500px;
    }
}
@media (max-width: 960px) {
  .container{
    flex-direction: column;
    margin: 0px 0;
  }
  .container .login{
    justify-content: center;
    margin-right: 130px;
  }
}
/* Fim login */
/*menu*/
.background{
    background-color: #EFEFEF;
}
.container-menu{
    display: flex;
    align-items: center;
    background-color: #D6C6FB;
}
.titulo{
    margin-left: 15px;
}
.titulo h1{
    font-size: 50px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #673781;

}
.container-menu-section{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.container-menu-section div{
    margin: 10px 20px;
    text-align: center;
    padding: 0px 0px;
    padding-top: 15px;
    padding-bottom: 0px;
    background-color: #5a317b;
    width: 250px;
    height: 200px;
}
.container-menu-section div h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    margin-bottom: 10px;
}
.container-menu-section #sair{
width: 50px;
height: 50px;
padding-top: 0px;
margin-right: 803px;
margin-bottom: 5px;
}
/*Fim menu*/