<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendas</title>
    <link rel="icon" href="./img/icon.png" type="png">
    <link rel="stylesheet" href="./css/style.css">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="background">
    <!--header-->
    <header>
        <div class="container-menu">
            <div class="logo-topo">
                <img src="./img/LogoMarca.png" alt="">
            </div>
            <div class="titulo">
                <h1>Vendas</h1>
            </div>
        </div>
    </header>
    <!--Fim header-->
    <!--main-->
    <main>
        <!--section-->
        <section>
            <!--container-vendas-->
            <div class="container-vendas" id="vontainerUm">
               <div class="resultado-pesquisa" id="resultado-pesquisa-codigo">
                <h5>id:</h5>
                <h5>Status:</h5>
                <h5>Data e hora:</h5>
                <h5>Método de pagamento:</h5>
                <h5>Nome do vendedor:</h5>
                <h5>Nome do cliente:</h5>
                <h5>CPF do cliente:</h5>
               </div>
               <div class="tabela-itensVenda">
                <div id="itens-tabelaVenda">
                    <h5>Itens</h5>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Produto</th>
                            <th>Quantidade</th>
                            <th>Valor</th>
                            <th>Sub total</th>
                        </tr>
                    </thead>
                    <tbody id="tabela-pesquisa">
                    </tbody>
                </table>
               </div>
                
            </div>
            
            <!--Fim container-vendas-->
        </section>
        <!--Fim section-->
        <!--section-->
        <section>
        <!--container-relatório-->
        <div class="container-relatorio">
            <div class="relatorio">
                <h4>Relatório</h4>
                <form>
                    <div class="inicio">
                        <label>Digite a data do período:</label>
                        <input type="date" id="dataInicio" min="1950-01-01" max="2100-12-31">
                    </div>
                    <div class="final">
                        <label>Até:</label>
                        <input type="date" id="dataFinal" min="1950-01-01" max="2100-12-31">
                    </div>
                    <div class="botoes-formulario" id="botao-relatorio">
                        <button type="button" class="form-control" id="botao-relatorio" onclick="gerarRelatorio()">Gerar</button>
                    </div>
                </form>
            </div>
            <div class="pesquisar-vendas">
                <label>Pesquisar:</label>
                <select class="criterio" id="criterio-selecionar">
                    <option>Selecione um item</option>
                    <option>id</option>
                    <option>CPF do cliente</option>
                    <option>Nome do vendedor</option>
                    <option>Data da venda</option>
                    <option>Status</option>
                    <option>Método de pagamento</option>
                </select>
                <form>
                    <input type="text" id="criterio-pesquisa">
                </form>
                <div id="buscar" class="botoes-formulario">
                    <button type="button" class="form-control" id="buscar-venda" onclick="pesquisarVenda()" >Buscar</button>
                </div>
                <div class="tabela-resultadoPesquisa">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Produto</th>
                            </tr>
                        </thead>
                        <tbody id="tabela-busca">
                        </tbody>
                    </table>
            </div>  
            <div id="Voltar-limpar" class="botoes-formulario">
                <button type="button" class="form-control" id="voltar-venda" onclick="voltarPagina()">voltar</button>
                <button type="button" class="form-control" id="limpar-venda" onclick="limparTudo()">limpar</button>
            </div>  
            </div>
        </div>
        <!--Fim container-relatório-->
        </section>
        <!--Fim section-->
    </main>
    <!--Fim main-->
    <script>
        window.onload = function() {
};
    </script>
    <script type="text/javascript" src="./js/js.js"></script>
</body>

</html>